export(emInit)
export(kmeanInit)
export(logLikePoisMixDiff)
export(PoisMixClus)
export(PoisMixClusWrapper)
export(PoisMixMean)
export(PoisMixSim)
export(probaPost)
export(probaPostInit)
export(splitEMInit)
export(highDimensionARI)
export(HTSClusterUsersGuide)
import(capushe)

## import methods
importFrom(edgeR, calcNormFactors)
importFrom(poisson.glm.mix, mylogLikePoisMix)
importFrom(plotrix, weighted.hist)

S3method(plot, HTSCluster)
S3method(summary, HTSCluster)
S3method(summary, HTSClusterWrapper)
S3method(plot, HTSClusterWrapper)
