export(emInit)
export(kmeanInit)
export(logLikePoisMix)
export(logLikePoisMixDiff)
export(PoisMixClus)
export(PoisMixMean)
export(PoisMixSim)
export(probaPost)
import(plotrix)
S3method(plot, HTSCluster)
S3method(summary, HTSCluster)